body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
  /* display: flex; */
  /* align-items: center;
  text-align: center;
  margin: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  /* display: block; */
}

section{
  margin-bottom: 0.5%;
}

form{
  /* width: 40%; */
  /* margin-left: 25%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* margin-left: auto;
  margin-right: auto; */
  /* align-items: center; */
  margin-left: 30%;
  margin-right: 30%;
  /* width: 664px; */
}

.name{
  margin-right: 2%;
}

.surname{
  margin-right: 10%;
}

.street,
.postalcode{
  margin-right: 2%;
}

.first-row,
.fourth-row,
.seventh-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .drink{
  margin-right: 2%;
} */

.language{
  margin-right: 25%;
} 

input[type="email"]{
  border: 2px solid rgb(109,102,102);
  width: 98.5%;
  height: 23px;
}

input[type="text"]{
  border: 2px solid rgb(109,102,102);
  height: 23px;
}

input[type="submit"]{
  border-style: none;
  background-color: rgb(109,102,102);
  border-radius: 15%;
  color: white;
  width: 60px;
  height: 25px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
  font-weight:bold ;
}

#address{
  width: 98.5%;
}

#country{
  width: 98%;
  border: 2px solid rgb(109,102,102);
  height: 35px;
}

#fname,
#lname{
  width: 110px;
}

#street,
#postalcode,
#city{
  width: 150px;
}