body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  header {
    background: linear-gradient(to bottom, #470707, #300808);
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    background: linear-gradient(to bottom, #ddd, #eee);
    padding: 15px;
    box-shadow: 0 2px 5px rgb(131, 19, 19);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff0000;
  }
  
  main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  section:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgb(107, 13, 13);
  }
  
  section:nth-child(odd) {
    background: linear-gradient(to bottom, #eee, #fff);
  }
  
  section:nth-child(even) {
    background: linear-gradient(to bottom, #fff, #eee);
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  footer {
    background: #470707;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgb(110, 14, 14);
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }