.logo {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 700;
    display: block;
    background-color: white;
    padding: 5px;
    width: 32.5px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 25px;
    // position: fixed;
    float: left;
}

