body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #ff0000;
  color: #fff;
}

.sidebar-logo {
  padding: 20px;
  text-align: center;
}

.sidebar-logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sidebar-navigation {
  margin-top: 30px;
}

.sidebar-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-navigation li {
  margin-bottom: 10px;
}

.sidebar-navigation a {
  padding: 10px;
  color: #fff;
}