.stats-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    right: 0;

    .stats-block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 28%;
        background-color: #141414;
        border-radius: 25px;
        padding: 20px;
        text-align: center;
        height: 155px;

        h2 {
            margin: 0%;
            font-size: 13px;
            font-weight: 100;
            color: $textColor;
        }

        p {
            margin: 0%;
            font-size: 40px;
            color: $headerColor;
        }

        div {
            font-size: 15px;
            color: $greenColor;
            font-weight: 100;
        }
    }
}