* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.6s ease-out;
}
.container .search-box {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
}
.container .search-box input {
  color: #555;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 20px;
  background-color: transparent;
}
.container .search-box input::-moz-placeholder {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}
.container .search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}
.container .search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #555;
  background-color: transparent;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}
.container .search-box button:hover {
  color: #00c8d6;
  background: white;
}
.container .weather-box {
  text-align: center;
}
.container .weather-box .city-name {
  color: white;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 500;
}
.container .weather-box img {
  width: 60%;
}
.container .weather-box .temperature {
  position: relative;
  color: white;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 20px;
  margin-left: -16px;
}
.container .weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}
.container .weather-box .description {
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.container .weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container .weather-details .humidity,
.container .weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}
.container .weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.container .weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}
.container .weather-details i {
  color: white;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}
.container .weather-details span {
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.container .weather-details p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.container .not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  transform: scale(0);
  opacity: 0;
  display: none;
}
.container .not-found img {
  width: 70%;
}
.container .not-found p {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.weather-box,
.weather-details {
  transform: scale(0);
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */