$firstAccordionBorderColor:#ea984f;
$firstAccordionColor:#ffedd5;

$secondAccordionBorderColor:#9094e9;
$secondAccordionColor:#e1e7ff;

$thirdAccordionBorderColor:#ab93e7;
$thirdAccordionColor:#ede9ff;

$fourthAccordionBorderColor:#e67db5;
$fourthAccordionColor:#fce8f2;

$fifthAccordionBorderColor:#6ad58c;
$fifthAccordionColor:#f0fdf5;