.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .humidity,
    .wind {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100px;
    }

    .humidity {
        padding-left: 20px;
        justify-content: flex-start;
    }

    .wind {
        padding-right: 20px;
        justify-content: flex-end;
    }

    i {
        color: $secondaryColor;
        font-size: 26px;
        margin-right: 10px;
        margin-top: 6px;
    }

    span {
        color: $secondaryColor;
        font-size: 22px;
        font-weight: 500;
    }

    p {
        color: $secondaryColor;
        font-size: 14px;
        font-weight: 500;
    }
}