.form {
    margin-top: 2rem;
    width: 30rem;

    .header {
        color: $primaryColor;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .paragraph {
        font-size: 15px;
        font-weight: 600;
    }

    textarea,
    input {
        width: 448px;
        height: 2rem;
        background-color: rgb(212, 212, 212);
        border-style: none;
        border-radius: 2px;
        margin-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    textarea {
        &::placeholder {
            font-family: $primaryFont;
        }

        height: 5rem;
        resize: none;
    }

    input:last-child {
        background-color: $primaryColor;
        color: white;
        border-radius: 8px;
        width: 20%;
    }
}