@import "./utils/variables";


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: $mainColor;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s ease-out;

    @import "./components/searchbox";

    @import "./components/weatherbox";
    
    @import "./components/weatherdetails";

    @import "./components/notfound";

}

@import "./components/transitions";